Wcf_EF_Service/WinformClient/Service References/WcfService/DAL.EF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DAL.EF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DAL.EF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="userinfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="creator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="depart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="realname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rolename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="userinfo" nillable="true" type="tns:userinfo" />
  <xs:complexType name="ArrayOfuserinfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="userinfo" nillable="true" type="tns:userinfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfuserinfo" nillable="true" type="tns:ArrayOfuserinfo" />
</xs:schema>