WCFClient/WCFClient/Service References/MusicStoreReference/WCFAlbumService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="www.ranran.MusicStoreWcfRest" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="www.ranran.MusicStoreWcfRest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="www.ranran.MusicStoreWcfRest/Imports">
      <xsd:import schemaLocation="http://localhost:59672/WCFAlbumService.svc?xsd=xsd0" namespace="www.ranran.MusicStoreWcfRest" />
      <xsd:import schemaLocation="http://localhost:59672/WCFAlbumService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFAlbumService_FindAll_InputMessage">
    <wsdl:part name="parameters" element="tns:FindAll" />
  </wsdl:message>
  <wsdl:message name="IWCFAlbumService_FindAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindAllResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFAlbumService_FindOne_InputMessage">
    <wsdl:part name="parameters" element="tns:FindOne" />
  </wsdl:message>
  <wsdl:message name="IWCFAlbumService_FindOne_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindOneResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFAlbumService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IWCFAlbumService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFAlbumService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IWCFAlbumService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFAlbumService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IWCFAlbumService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFAlbumService_search_InputMessage">
    <wsdl:part name="parameters" element="tns:search" />
  </wsdl:message>
  <wsdl:message name="IWCFAlbumService_search_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFAlbumService">
    <wsdl:operation name="FindAll">
      <wsdl:input wsaw:Action="www.ranran.MusicStoreWcfRest/IWCFAlbumService/FindAll" message="tns:IWCFAlbumService_FindAll_InputMessage" />
      <wsdl:output wsaw:Action="www.ranran.MusicStoreWcfRest/IWCFAlbumService/FindAllResponse" message="tns:IWCFAlbumService_FindAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindOne">
      <wsdl:input wsaw:Action="www.ranran.MusicStoreWcfRest/IWCFAlbumService/FindOne" message="tns:IWCFAlbumService_FindOne_InputMessage" />
      <wsdl:output wsaw:Action="www.ranran.MusicStoreWcfRest/IWCFAlbumService/FindOneResponse" message="tns:IWCFAlbumService_FindOne_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="www.ranran.MusicStoreWcfRest/IWCFAlbumService/Create" message="tns:IWCFAlbumService_Create_InputMessage" />
      <wsdl:output wsaw:Action="www.ranran.MusicStoreWcfRest/IWCFAlbumService/CreateResponse" message="tns:IWCFAlbumService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="www.ranran.MusicStoreWcfRest/IWCFAlbumService/Update" message="tns:IWCFAlbumService_Update_InputMessage" />
      <wsdl:output wsaw:Action="www.ranran.MusicStoreWcfRest/IWCFAlbumService/UpdateResponse" message="tns:IWCFAlbumService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="www.ranran.MusicStoreWcfRest/IWCFAlbumService/Delete" message="tns:IWCFAlbumService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="www.ranran.MusicStoreWcfRest/IWCFAlbumService/DeleteResponse" message="tns:IWCFAlbumService_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="search">
      <wsdl:input wsaw:Action="www.ranran.MusicStoreWcfRest/IWCFAlbumService/search" message="tns:IWCFAlbumService_search_InputMessage" />
      <wsdl:output wsaw:Action="www.ranran.MusicStoreWcfRest/IWCFAlbumService/searchResponse" message="tns:IWCFAlbumService_search_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>