Wcf_EF_Service/SLClient/Service References/WcfService/WcfService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.baidu.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.baidu.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.baidu.com/Imports">
      <xsd:import schemaLocation="http://localhost:8080/WcfService.svc?xsd=xsd0" namespace="http://www.baidu.com" />
      <xsd:import schemaLocation="http://localhost:8080/WcfService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DAL.EF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="WcfService_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="WcfService_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="WcfService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="WcfService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="WcfService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="WcfService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="WcfService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="WcfService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="WcfService_DelUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DelUser" />
  </wsdl:message>
  <wsdl:message name="WcfService_DelUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelUserResponse" />
  </wsdl:message>
  <wsdl:portType name="WcfService">
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://www.baidu.com/WcfService/login" message="tns:WcfService_login_InputMessage" />
      <wsdl:output wsaw:Action="http://www.baidu.com/WcfService/loginResponse" message="tns:WcfService_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://www.baidu.com/WcfService/AddUser" message="tns:WcfService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.baidu.com/WcfService/AddUserResponse" message="tns:WcfService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://www.baidu.com/WcfService/UpdateUser" message="tns:WcfService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.baidu.com/WcfService/UpdateUserResponse" message="tns:WcfService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://www.baidu.com/WcfService/GetUser" message="tns:WcfService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.baidu.com/WcfService/GetUserResponse" message="tns:WcfService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelUser">
      <wsdl:input wsaw:Action="http://www.baidu.com/WcfService/DelUser" message="tns:WcfService_DelUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.baidu.com/WcfService/DelUserResponse" message="tns:WcfService_DelUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>